body, html {
    background-color: #f7f7f7;
    color: #000000;
    height: 100%;
    margin: 0;

    background-image: url('background_sigh.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    overscroll-behavior-block: contain;
    min-height: 100vh;
}

ul {
    list-style-type: none;

    padding: 0px;
    padding-left: 10px;
}

.top {
    justify-self: left;
    margin-top: 5px;
}
.normal_link {
    color: #000000;
}

.description {
    border: 2px solid #000000;
    border-radius: 10%;
    border-color: #000000;

    margin: 10px;

    padding: 2px;
}
.description_overlap {
    border: 2px solid #000000;
    border-radius: 10%;
    border-color: #000000;

    margin-left: 5px;
    margin-right: 5px;

    padding: 2px;
}
.list_overlap {
    border: 2px solid #000000;
    border-radius: 10%;
    border-color: #000000;

    margin: 0px;
}

.title_overlap {
    margin: 0px;

    text-decoration: underline;
    text-decoration-style: double;
}


.r_s_margin {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.r_m_margin {
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;

    padding: 1px;
}
